.page {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.designSpace {
  flex: 3;
}

.code {
  flex: 1;
}

.fileName {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.fileName input {
  border-radius: 12px;
  border: 1px solid black;
  padding: 10px;
}
