.page {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.designSpace {
  flex: 3;
}

.code {
  flex: 1;
}

.fileName {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.fileName input {
  border-radius: 12px;
  border: 1px solid black;
  padding: 10px;
}

.addNodeButton {
  position: absolute;
  left: 50%;
  bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  z-index: 1000;
  background: white;
  border: 2px solid black;
  box-shadow: 2px 2px black;
}

.addNodeButton:hover {
  cursor: pointer;
}
